[submodule "pwt-assets"]
	path = pwt-assets
	url = gitolite3@proxdev.maurer-it.com:yew/proxmox-yew-widget-toolkit-assets
[submodule "proxmox-api-types"]
	path = proxmox-api-types
	url = gitolite3@proxdev.maurer-it.com:/rust/proxmox-api-types
