.fa-cpu::before {
    content: " ";
    background-image: url(./images/icon-cpu.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-memory::before {
    content: " ";
    background-image: url(./images/icon-memory.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-cdrom::before {
    content: " ";
    background-image: url(./images/icon-cd-drive.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;
}

.fa-2x.fa-memory::before {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fa-2x.fa-cpu::before {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.fa-2x.fa-cdrom::before {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

:root.pwt-dark-mode {

    .fa-memory,
    .fa-cpu {
        filter: invert(90%);
    }
}