.fa-cpu::before,
.fa-memory::before,
.fa-cdrom::before {
    content: " ";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    display: inline-block;

}

.fa-cpu::before {
    background-image: url(../images/icon-cpu.svg);
}

.fa-memory::before {
    background-image: url(../images/icon-memory.svg);

}

.fa-cdrom::before {
    background-image: url(../images/icon-cd-drive.svg);
}

.fa-2x.fa-memory::before,
.fa-2x.fa-cpu::before,
.fa-2x.fa-cdrom::before {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

:root.pwt-dark-mode {

    .fa-cdrom,
    .fa-memory,
    .fa-cpu {
        filter: invert(90%);
    }
}

@keyframes delay-visibility {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.pwt-delay-visibility {
    opacity: 0;
    animation: delay-visibility 2s ease-in-out 250ms forwards;
}
